<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean id="userAction" class="com.zy.action.UserAction" scope="prototype">
		<property name="factoryService">
			<ref bean="factoryService" />
		</property>
	</bean>

	<bean id="earthAction" class="com.zy.action.EarthAction" scope="prototype">
		<property name="factoryService">
			<ref bean="factoryService" />
		</property>
	</bean>
	<bean id="plantAction" class="com.zy.action.PlantAction" scope="prototype">
		<property name="factoryService">
			<ref bean="factoryService" />
		</property>
	</bean>
	<bean id="waterAction" class="com.zy.action.WaterAction" scope="prototype">
	    <property name="factoryService">
	        <ref bean="factoryService" />
	    </property>
	 </bean>  
	 <bean id="fertilizeAction" class="com.zy.action.FertilizeAction" scope="prototype">
	    <property name="factoryService">
	        <ref bean="factoryService" />
	    </property>
	 </bean>  
	 <bean id="sprayAction" class="com.zy.action.SprayAction" scope="prototype">
	    <property name="factoryService">
	        <ref bean="factoryService" />
	    </property>
	 </bean>
	 <bean id="foodAction" class="com.zy.action.FoodAction" scope="prototype">
	    <property name="factoryService">
	        <ref bean="factoryService" />
	    </property>
	 </bean>
	 <bean id="sellAction" class="com.zy.action.SellAction" scope="prototype">
	    <property name="factoryService">
	        <ref bean="factoryService" />
	    </property>
	 </bean>
</beans>